In [75]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [76]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'
}

response = requests.get('https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors/', headers=headers)
doc = BeautifulSoup(response.text, 'html.parser')

In [173]:
books_list = []
sorted1 = doc.find_all('tr')
#sorted = doc.find_all('span', class_='smallText uitext')
for item in sorted1:
    books = {}
    books['Rank'] = item.find('td', class_='number').text.strip()
    books['Title'] = item.find('a', class_='bookTitle').text.strip()
    books['Author'] = item.find('a', class_='authorName').text.strip()
    books['Rating'] = item.find('span', class_='greyText smallText uitext').text.strip()
    books['Vote'] = item.find('span', class_='smallText uitext').find_all('a')[1].text.strip()
    books['Score'] = item.find('span', class_='smallText uitext').find('a').text.strip()
    books_list.append(books)
    
print(books_list)

[{'Rank': '1', 'Title': "The Handmaid's Tale", 'Author': 'Margaret Atwood', 'Rating': '4.09 avg rating — 1,102,318 ratings', 'Vote': '314 people voted', 'Score': 'score: 30,733'}, {'Rank': '2', 'Title': 'The Hunger Games (The Hunger Games, #1)', 'Author': 'Suzanne Collins', 'Rating': '4.33 avg rating — 5,742,147 ratings', 'Vote': '292 people voted', 'Score': 'score: 28,553'}, {'Rank': '3', 'Title': 'Frankenstein', 'Author': 'Mary Wollstonecraft Shelley', 'Rating': '3.78 avg rating — 1,023,439 ratings', 'Vote': '224 people voted', 'Score': 'score: 21,909'}, {'Rank': '4', 'Title': 'A Wrinkle in Time (Time Quintet, #1)', 'Author': "Madeleine L'Engle", 'Rating': '4.01 avg rating — 903,270 ratings', 'Vote': '196 people voted', 'Score': 'score: 18,720'}, {'Rank': '5', 'Title': 'The Left Hand of Darkness (Hainish Cycle #4)', 'Author': 'Ursula K. Le Guin', 'Rating': '4.06 avg rating — 98,786 ratings', 'Vote': '184 people voted', 'Score': 'score: 17,920'}, {'Rank': '6', 'Title': 'Divergent (Divergent, #1)', 'Author': 'Veronica Roth', 'Rating': '4.21 avg rating — 2,602,763 ratings', 'Vote': '138 people voted', 'Score': 'score: 13,326'}, {'Rank': '7', 'Title': 'Catching Fire (The Hunger Games, #2)', 'Author': 'Suzanne Collins', 'Rating': '4.29 avg rating — 2,200,701 ratings', 'Vote': '133 people voted', 'Score': 'score: 12,749'}, {'Rank': '8', 'Title': 'The Giver (The Giver, #1)', 'Author': 'Lois Lowry', 'Rating': '4.12 avg rating — 1,535,105 ratings', 'Vote': '129 people voted', 'Score': 'score: 12,399'}, {'Rank': '9', 'Title': 'Kindred', 'Author': 'Octavia E. Butler', 'Rating': '4.23 avg rating — 72,335 ratings', 'Vote': '116 people voted', 'Score': 'score: 11,070'}, {'Rank': '10', 'Title': 'The Dispossessed (Hainish Cycle #6)', 'Author': 'Ursula K. Le Guin', 'Rating': '4.21 avg rating — 71,641 ratings', 'Vote': '112 people voted', 'Score': 'score: 10,731'}, {'Rank': '11', 'Title': 'Oryx and Crake (MaddAddam, #1)', 'Author': 'Margaret Atwood', 'Rating': '4.01 avg rating — 197,786 ratings', 'Vote': '107 people voted', 'Score': 'score: 10,117'}, {'Rank': '12', 'Title': 'Mockingjay (The Hunger Games, #3)', 'Author': 'Suzanne Collins', 'Rating': '4.03 avg rating — 2,071,958 ratings', 'Vote': '104 people voted', 'Score': 'score: 9,807'}, {'Rank': '13', 'Title': "The Time Traveler's Wife", 'Author': 'Audrey Niffenegger', 'Rating': '3.96 avg rating — 1,446,731 ratings', 'Vote': '98 people voted', 'Score': 'score: 9,193'}, {'Rank': '14', 'Title': 'Doomsday Book (Oxford Time Travel, #1)', 'Author': 'Connie Willis', 'Rating': '4.03 avg rating — 43,252 ratings', 'Vote': '96 people voted', 'Score': 'score: 8,935'}, {'Rank': '15', 'Title': 'The Lathe of Heaven', 'Author': 'Ursula K. Le Guin', 'Rating': '4.11 avg rating — 43,989 ratings', 'Vote': '84 people voted', 'Score': 'score: 7,775'}, {'Rank': '16', 'Title': 'Ancillary Justice (Imperial Radch #1)', 'Author': 'Ann Leckie', 'Rating': '3.98 avg rating — 66,205 ratings', 'Vote': '81 people voted', 'Score': 'score: 7,336'}, {'Rank': '17', 'Title': 'Shards of Honour  (Vorkosigan Saga, #1)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.11 avg rating — 25,879 ratings', 'Vote': '75 people voted', 'Score': 'score: 7,017'}, {'Rank': '18', 'Title': 'To Say Nothing of the Dog (Oxford Time Travel, #2)', 'Author': 'Connie Willis', 'Rating': '4.13 avg rating — 29,641 ratings', 'Vote': '74 people voted', 'Score': 'score: 6,890'}, {'Rank': '19', 'Title': 'The Sparrow (The Sparrow, #1)', 'Author': 'Mary Doria Russell', 'Rating': '4.17 avg rating — 52,739 ratings', 'Vote': '72 people voted', 'Score': 'score: 6,873'}, {'Rank': '20', 'Title': 'Dragonflight (Dragonriders of Pern, #1)', 'Author': 'Anne McCaffrey', 'Rating': '4.10 avg rating — 116,157 ratings', 'Vote': '74 people voted', 'Score': 'score: 6,802'}, {'Rank': '21', 'Title': 'Parable of the Sower (Earthseed, #1)', 'Author': 'Octavia E. Butler', 'Rating': '4.16 avg rating — 42,233 ratings', 'Vote': '71 people voted', 'Score': 'score: 6,653'}, {'Rank': '22', 'Title': "The Warrior's Apprentice (Vorkosigan Saga, #2)", 'Author': 'Lois McMaster Bujold', 'Rating': '4.29 avg rating — 20,957 ratings', 'Vote': '65 people voted', 'Score': 'score: 6,087'}, {'Rank': '23', 'Title': 'Barrayar (Vorkosigan Saga, #7)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.31 avg rating — 22,111 ratings', 'Vote': '60 people voted', 'Score': 'score: 5,623'}, {'Rank': '24', 'Title': 'The Host (The Host, #1)', 'Author': 'Stephenie Meyer', 'Rating': '3.84 avg rating — 828,981 ratings', 'Vote': '56 people voted', 'Score': 'score: 5,274'}, {'Rank': '25', 'Title': 'Insurgent (Divergent, #2)', 'Author': 'Veronica Roth', 'Rating': '4.05 avg rating — 1,045,826 ratings', 'Vote': '54 people voted', 'Score': 'score: 4,899'}, {'Rank': '26', 'Title': 'Memory (Vorkosigan Saga, #10)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.45 avg rating — 13,949 ratings', 'Vote': '51 people voted', 'Score': 'score: 4,682'}, {'Rank': '27', 'Title': 'The Children of Men', 'Author': 'P.D. James', 'Rating': '3.68 avg rating — 36,106 ratings', 'Vote': '49 people voted', 'Score': 'score: 4,484'}, {'Rank': '28', 'Title': 'Starshine: Aurora Rising Book One (Aurora Rhapsody, #1)', 'Author': 'G.S. Jennsen', 'Rating': '3.91 avg rating — 2,146 ratings', 'Vote': '45 people voted', 'Score': 'score: 4,394'}, {'Rank': '29', 'Title': 'The Year of the Flood  (MaddAddam, #2)', 'Author': 'Margaret Atwood', 'Rating': '4.06 avg rating — 92,226 ratings', 'Vote': '47 people voted', 'Score': 'score: 4,343'}, {'Rank': '30', 'Title': 'Crystal Singer (Crystal Singer, #1)', 'Author': 'Anne McCaffrey', 'Rating': '4.09 avg rating — 17,772 ratings', 'Vote': '47 people voted', 'Score': 'score: 4,235'}, {'Rank': '31', 'Title': 'Mirror Dance (Vorkosigan Saga, #8)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.33 avg rating — 17,329 ratings', 'Vote': '47 people voted', 'Score': 'score: 4,120'}, {'Rank': '32', 'Title': "Lilith's Brood (Xenogenesis, #1-3)", 'Author': 'Octavia E. Butler', 'Rating': '4.33 avg rating — 12,568 ratings', 'Vote': '47 people voted', 'Score': 'score: 4,108'}, {'Rank': '33', 'Title': 'The Vor Game (Vorkosigan Saga, #6)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.28 avg rating — 18,977 ratings', 'Vote': '46 people voted', 'Score': 'score: 3,895'}, {'Rank': '34', 'Title': 'Wild Seed (Patternmaster, #1)', 'Author': 'Octavia E. Butler', 'Rating': '4.21 avg rating — 14,433 ratings', 'Vote': '43 people voted', 'Score': 'score: 3,842'}, {'Rank': '35', 'Title': 'A Wind in the Door (Time Quintet, #2)', 'Author': "Madeleine L'Engle", 'Rating': '4.04 avg rating — 106,039 ratings', 'Vote': '42 people voted', 'Score': 'score: 3,700'}, {'Rank': '36', 'Title': 'A Civil Campaign (Vorkosigan Saga, #12)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.43 avg rating — 14,493 ratings', 'Vote': '43 people voted', 'Score': 'score: 3,683'}, {'Rank': '37', 'Title': 'Brothers in Arms (Vorkosigan Saga, #5)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.21 avg rating — 13,276 ratings', 'Vote': '43 people voted', 'Score': 'score: 3,653'}, {'Rank': '38', 'Title': 'Cetaganda (Vorkosigan Saga, #9)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.17 avg rating — 14,830 ratings', 'Vote': '43 people voted', 'Score': 'score: 3,618'}, {'Rank': '39', 'Title': 'The Snow Queen (The Snow Queen Cycle, #1)', 'Author': 'Joan D. Vinge', 'Rating': '3.95 avg rating — 11,142 ratings', 'Vote': '43 people voted', 'Score': 'score: 3,535'}, {'Rank': '40', 'Title': 'Cinder (The Lunar Chronicles, #1)', 'Author': 'Marissa Meyer', 'Rating': '4.15 avg rating — 582,786 ratings', 'Vote': '38 people voted', 'Score': 'score: 3,440'}, {'Rank': '41', 'Title': 'Downbelow Station (The Company Wars, #1)', 'Author': 'C.J. Cherryh', 'Rating': '3.91 avg rating — 12,107 ratings', 'Vote': '40 people voted', 'Score': 'score: 3,381'}, {'Rank': '42', 'Title': 'The Ship Who Sang (Brainship, #1)', 'Author': 'Anne McCaffrey', 'Rating': '4.01 avg rating — 21,158 ratings', 'Vote': '39 people voted', 'Score': 'score: 3,361'}, {'Rank': '43', 'Title': 'Dragon Dawn (Dinosaurian Time Travel, #1)', 'Author': "Deborah O'Neill Cordes", 'Rating': '3.81 avg rating — 194 ratings', 'Vote': '34 people voted', 'Score': 'score: 3,340'}, {'Rank': '44', 'Title': 'Dragonsong (Harper Hall, #1)', 'Author': 'Anne McCaffrey', 'Rating': '4.25 avg rating — 43,814 ratings', 'Vote': '36 people voted', 'Score': 'score: 3,092'}, {'Rank': '45', 'Title': 'Falling Free (Vorkosigan Saga, #4)', 'Author': 'Lois McMaster Bujold', 'Rating': '3.83 avg rating — 16,014 ratings', 'Vote': '37 people voted', 'Score': 'score: 3,054'}, {'Rank': '46', 'Title': 'Ethan of Athos (Vorkosigan Saga, #3)', 'Author': 'Lois McMaster Bujold', 'Rating': '3.76 avg rating — 11,390 ratings', 'Vote': '36 people voted', 'Score': 'score: 2,904'}, {'Rank': '47', 'Title': 'A Swiftly Tilting Planet (Time Quintet, #3)', 'Author': "Madeleine L'Engle", 'Rating': '4.11 avg rating — 95,084 ratings', 'Vote': '32 people voted', 'Score': 'score: 2,831'}, {'Rank': '48', 'Title': 'Dawn (Xenogenesis, #1)', 'Author': 'Octavia E. Butler', 'Rating': '4.12 avg rating — 22,774 ratings', 'Vote': '32 people voted', 'Score': 'score: 2,755'}, {'Rank': '49', 'Title': 'Komarr (Vorkosigan Saga, #11)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.30 avg rating — 12,911 ratings', 'Vote': '31 people voted', 'Score': 'score: 2,579'}, {'Rank': '50', 'Title': 'Foreigner (Foreigner, #1)', 'Author': 'C.J. Cherryh', 'Rating': '3.94 avg rating — 7,157 ratings', 'Vote': '30 people voted', 'Score': 'score: 2,547'}, {'Rank': '51', 'Title': 'Where Late the Sweet Birds Sang', 'Author': 'Kate Wilhelm', 'Rating': '3.87 avg rating — 8,281 ratings', 'Vote': '30 people voted', 'Score': 'score: 2,535'}, {'Rank': '52', 'Title': 'Beggars in Spain (Sleepless, #1)', 'Author': 'Nancy Kress', 'Rating': '3.94 avg rating — 6,813 ratings', 'Vote': '30 people voted', 'Score': 'score: 2,526'}, {'Rank': '53', 'Title': 'Her Smoke Rose Up Forever', 'Author': 'James Tiptree Jr.', 'Rating': '4.21 avg rating — 3,311 ratings', 'Vote': '29 people voted', 'Score': 'score: 2,524'}, {'Rank': '54', 'Title': 'The Silver Metal Lover (Silver Metal Lover, #1)', 'Author': 'Tanith Lee', 'Rating': '4.03 avg rating — 3,384 ratings', 'Vote': '29 people voted', 'Score': 'score: 2,504'}, {'Rank': '55', 'Title': "Cordelia's Honor (Vorkosigan Omnibus, #1)", 'Author': 'Lois McMaster Bujold', 'Rating': '4.37 avg rating — 11,641 ratings', 'Vote': '31 people voted', 'Score': 'score: 2,498'}, {'Rank': '56', 'Title': 'The Pride of Chanur (Chanur #1)', 'Author': 'C.J. Cherryh', 'Rating': '3.92 avg rating — 5,910 ratings', 'Vote': '31 people voted', 'Score': 'score: 2,469'}, {'Rank': '57', 'Title': 'Station Eleven', 'Author': 'Emily St. John Mandel', 'Rating': '4.03 avg rating — 253,785 ratings', 'Vote': '28 people voted', 'Score': 'score: 2,450'}, {'Rank': '58', 'Title': 'Cyteen (Cyteen, #1-3)', 'Author': 'C.J. Cherryh', 'Rating': 'really liked it 4.00 avg rating — 9,284 ratings', 'Vote': '30 people voted', 'Score': 'score: 2,316'}, {'Rank': '59', 'Title': 'Borders of Infinity (Vorkosigan Saga [Publication] #5.1-5.3)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.24 avg rating — 8,712 ratings', 'Vote': '29 people voted', 'Score': 'score: 2,306'}, {'Rank': '60', 'Title': 'Grass (Arbai, #1)', 'Author': 'Sheri S. Tepper', 'Rating': '4.04 avg rating — 9,266 ratings', 'Vote': '27 people voted', 'Score': 'score: 2,203'}, {'Rank': '61', 'Title': 'Chameleon (The Domino Project, #1)', 'Author': 'K.T. Hanna', 'Rating': '4.18 avg rating — 191 ratings', 'Vote': '22 people voted', 'Score': 'score: 2,199'}, {'Rank': '62', 'Title': "The Gate to Women's Country", 'Author': 'Sheri S. Tepper', 'Rating': '4.05 avg rating — 11,541 ratings', 'Vote': '27 people voted', 'Score': 'score: 2,191'}, {'Rank': '63', 'Title': 'The Female Man', 'Author': 'Joanna Russ', 'Rating': '3.54 avg rating — 5,350 ratings', 'Vote': '26 people voted', 'Score': 'score: 2,128'}, {'Rank': '64', 'Title': 'In the Garden of Iden (The Company, #1)', 'Author': 'Kage Baker', 'Rating': '3.77 avg rating — 4,995 ratings', 'Vote': '26 people voted', 'Score': 'score: 2,038'}, {'Rank': '65', 'Title': 'Rogue Genesis (Shimmer in the Dark, #1)', 'Author': 'Ceri London', 'Rating': '4.44 avg rating — 133 ratings', 'Vote': '21 people voted', 'Score': 'score: 2,013'}, {'Rank': '66', 'Title': 'Parable of the Talents (Earthseed, #2)', 'Author': 'Octavia E. Butler', 'Rating': '4.24 avg rating — 17,402 ratings', 'Vote': '25 people voted', 'Score': 'score: 2,006'}, {'Rank': '67', 'Title': 'The Faded Sun Trilogy (The Faded Sun #1-3)', 'Author': 'C.J. Cherryh', 'Rating': '4.12 avg rating — 4,627 ratings', 'Vote': '23 people voted', 'Score': 'score: 1,931'}, {'Rank': '68', 'Title': 'Diplomatic Immunity (Vorkosigan Saga, #13)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.18 avg rating — 12,109 ratings', 'Vote': '26 people voted', 'Score': 'score: 1,914'}, {'Rank': '69', 'Title': "His Majesty's Dragon (Temeraire, #1)", 'Author': 'Naomi Novik', 'Rating': '4.06 avg rating — 67,078 ratings', 'Vote': '22 people voted', 'Score': 'score: 1,849'}, {'Rank': '70', 'Title': 'The Speed of Dark', 'Author': 'Elizabeth Moon', 'Rating': 'really liked it 4.00 avg rating — 9,437 ratings', 'Vote': '24 people voted', 'Score': 'score: 1,819'}, {'Rank': '71', 'Title': 'Darkover Landfall', 'Author': 'Marion Zimmer Bradley', 'Rating': '3.88 avg rating — 5,954 ratings', 'Vote': '21 people voted', 'Score': 'score: 1,748'}, {'Rank': '72', 'Title': 'Machinations (Machinations, #1)', 'Author': 'Hayley Stone', 'Rating': '3.79 avg rating — 248 ratings', 'Vote': '17 people voted', 'Score': 'score: 1,698'}, {'Rank': '73', 'Title': 'Vertigo (Aurora Rhapsody, #2)', 'Author': 'G.S. Jennsen', 'Rating': '4.22 avg rating — 1,042 ratings', 'Vote': '18 people voted', 'Score': 'score: 1,684'}, {'Rank': '74', 'Title': 'CryoBurn (Vorkosigan Saga, #14)', 'Author': 'Lois McMaster Bujold', 'Rating': '4.06 avg rating — 11,942 ratings', 'Vote': '24 people voted', 'Score': 'score: 1,683'}, {'Rank': '75', 'Title': 'Seed to Harvest (Patternmaster, #1-4)', 'Author': 'Octavia E. Butler', 'Rating': '4.33 avg rating — 3,945 ratings', 'Vote': '20 people voted', 'Score': 'score: 1,659'}, {'Rank': '76', 'Title': "The Wind's Twelve Quarters", 'Author': 'Ursula K. Le Guin', 'Rating': '4.04 avg rating — 4,041 ratings', 'Vote': '19 people voted', 'Score': 'score: 1,572'}, {'Rank': '77', 'Title': 'Remnant Population', 'Author': 'Elizabeth Moon', 'Rating': '4.06 avg rating — 3,627 ratings', 'Vote': '20 people voted', 'Score': 'score: 1,547'}, {'Rank': '78', 'Title': 'The Word for World is Forest', 'Author': 'Ursula K. Le Guin', 'Rating': '3.95 avg rating — 12,904 ratings', 'Vote': '20 people voted', 'Score': 'score: 1,510'}, {'Rank': '79', 'Title': 'Grimspace (Sirantha Jax, #1)', 'Author': 'Ann Aguirre', 'Rating': '3.73 avg rating — 12,661 ratings', 'Vote': '17 people voted', 'Score': 'score: 1,497'}, {'Rank': '80', 'Title': 'Ammonite', 'Author': 'Nicola Griffith', 'Rating': '3.86 avg rating — 3,715 ratings', 'Vote': '20 people voted', 'Score': 'score: 1,477'}, {'Rank': '81', 'Title': 'Across the Universe (Across the Universe, #1)', 'Author': 'Beth Revis', 'Rating': '3.77 avg rating — 107,418 ratings', 'Vote': '16 people voted', 'Score': 'score: 1,435'}, {'Rank': '82', 'Title': 'Inheritor (Foreigner, #3)', 'Author': 'C.J. Cherryh', 'Rating': '4.19 avg rating — 3,610 ratings', 'Vote': '18 people voted', 'Score': 'score: 1,392'}, {'Rank': '83', 'Title': 'The V Girl', 'Author': 'Mya Robarts', 'Rating': '4.02 avg rating — 7,836 ratings', 'Vote': '15 people voted', 'Score': 'score: 1,380'}, {'Rank': '84', 'Title': 'Delirium (Delirium, #1)', 'Author': 'Lauren Oliver', 'Rating': '3.98 avg rating — 392,285 ratings', 'Vote': '15 people voted', 'Score': 'score: 1,366'}, {'Rank': '85', 'Title': 'Dreamsnake', 'Author': 'Vonda N. McIntyre', 'Rating': '3.86 avg rating — 8,405 ratings', 'Vote': '18 people voted', 'Score': 'score: 1,324'}, {'Rank': '86', 'Title': 'Women of Wonder: Science-Fiction Stories by Women about Women', 'Author': 'Pamela Sargent', 'Rating': 'really liked it 4.00 avg rating — 272 ratings', 'Vote': '16 people voted', 'Score': 'score: 1,297'}, {'Rank': '87', 'Title': 'All Systems Red (The Murderbot Diaries, #1)', 'Author': 'Martha Wells', 'Rating': '4.15 avg rating — 35,062 ratings', 'Vote': '14 people voted', 'Score': 'score: 1,296'}, {'Rank': '88', 'Title': "Trading in Danger (Vatta's War, #1)", 'Author': 'Elizabeth Moon', 'Rating': '3.98 avg rating — 11,161 ratings', 'Vote': '16 people voted', 'Score': 'score: 1,286'}, {'Rank': '89', 'Title': 'Invader (Foreigner, #2)', 'Author': 'C.J. Cherryh', 'Rating': '4.17 avg rating — 4,058 ratings', 'Vote': '17 people voted', 'Score': 'score: 1,276'}, {'Rank': '89', 'Title': 'Woman on the Edge of Time', 'Author': 'Marge Piercy', 'Rating': '3.95 avg rating — 12,598 ratings', 'Vote': '15 people voted', 'Score': 'score: 1,276'}, {'Rank': '91', 'Title': 'China Mountain Zhang', 'Author': 'Maureen F. McHugh', 'Rating': '3.94 avg rating — 3,453 ratings', 'Vote': '18 people voted', 'Score': 'score: 1,253'}, {'Rank': '92', 'Title': 'Stardoc (Stardoc, #1)', 'Author': 'S.L. Viehl', 'Rating': '3.80 avg rating — 3,632 ratings', 'Vote': '16 people voted', 'Score': 'score: 1,230'}, {'Rank': '93', 'Title': 'MaddAddam (MaddAddam, #3)', 'Author': 'Margaret Atwood', 'Rating': 'really liked it 4.00 avg rating — 52,198 ratings', 'Vote': '13 people voted', 'Score': 'score: 1,212'}, {'Rank': '94', 'Title': "Valor's Choice (Confederation, #1)", 'Author': 'Tanya Huff', 'Rating': '3.98 avg rating — 6,898 ratings', 'Vote': '16 people voted', 'Score': 'score: 1,165'}, {'Rank': '95', 'Title': 'Bellwether', 'Author': 'Connie Willis', 'Rating': '3.93 avg rating — 10,069 ratings', 'Vote': '13 people voted', 'Score': 'score: 1,142'}, {'Rank': '96', 'Title': 'This Alien Shore', 'Author': 'C.S. Friedman', 'Rating': '4.04 avg rating — 3,261 ratings', 'Vote': '15 people voted', 'Score': 'score: 1,130'}, {'Rank': '97', 'Title': 'Primary Inversion (Saga of the Skolian Empire, #1)', 'Author': 'Catherine Asaro', 'Rating': '3.74 avg rating — 3,686 ratings', 'Vote': '15 people voted', 'Score': 'score: 1,119'}, {'Rank': '98', 'Title': 'Scarlet (The Lunar Chronicles, #2)', 'Author': 'Marissa Meyer', 'Rating': '4.29 avg rating — 265,278 ratings', 'Vote': '12 people voted', 'Score': 'score: 1,115'}, {'Rank': '99', 'Title': 'Probability Moon (Probability, #1)', 'Author': 'Nancy Kress', 'Rating': '3.61 avg rating — 1,292 ratings', 'Vote': '15 people voted', 'Score': 'score: 1,107'}, {'Rank': '100', 'Title': 'The House of the Scorpion (Matteo Alacran, #1)', 'Author': 'Nancy Farmer', 'Rating': '4.10 avg rating — 72,363 ratings', 'Vote': '12 people voted', 'Score': 'score: 1,083'}]

In [174]:
df = pd.DataFrame(books_list)
df.head()

,Author,Rank,Rating,Score,Title,Vote
0,Margaret Atwood,1,"4.09 avg rating — 1,102,318 ratings","score: 30,733",The Handmaid's Tale,314 people voted
1,Suzanne Collins,2,"4.33 avg rating — 5,742,147 ratings","score: 28,553","The Hunger Games (The Hunger Games, #1)",292 people voted
2,Mary Wollstonecraft Shelley,3,"3.78 avg rating — 1,023,439 ratings","score: 21,909",Frankenstein,224 people voted
3,Madeleine L'Engle,4,"4.01 avg rating — 903,270 ratings","score: 18,720","A Wrinkle in Time (Time Quintet, #1)",196 people voted
4,Ursula K. Le Guin,5,"4.06 avg rating — 98,786 ratings","score: 17,920",The Left Hand of Darkness (Hainish Cycle #4),184 people voted

In [175]:
df['Score'] = df['Score'].str.replace("score:", " ", case = False)
df.head()

,Author,Rank,Rating,Score,Title,Vote
0,Margaret Atwood,1,"4.09 avg rating — 1,102,318 ratings","30,733",The Handmaid's Tale,314 people voted
1,Suzanne Collins,2,"4.33 avg rating — 5,742,147 ratings","28,553","The Hunger Games (The Hunger Games, #1)",292 people voted
2,Mary Wollstonecraft Shelley,3,"3.78 avg rating — 1,023,439 ratings","21,909",Frankenstein,224 people voted
3,Madeleine L'Engle,4,"4.01 avg rating — 903,270 ratings","18,720","A Wrinkle in Time (Time Quintet, #1)",196 people voted
4,Ursula K. Le Guin,5,"4.06 avg rating — 98,786 ratings","17,920",The Left Hand of Darkness (Hainish Cycle #4),184 people voted

In [176]:
df['Vote'] = df['Vote'].str.replace("people voted", " ", case = False)
df.head()

,Author,Rank,Rating,Score,Title,Vote
0,Margaret Atwood,1,"4.09 avg rating — 1,102,318 ratings","30,733",The Handmaid's Tale,314
1,Suzanne Collins,2,"4.33 avg rating — 5,742,147 ratings","28,553","The Hunger Games (The Hunger Games, #1)",292
2,Mary Wollstonecraft Shelley,3,"3.78 avg rating — 1,023,439 ratings","21,909",Frankenstein,224
3,Madeleine L'Engle,4,"4.01 avg rating — 903,270 ratings","18,720","A Wrinkle in Time (Time Quintet, #1)",196
4,Ursula K. Le Guin,5,"4.06 avg rating — 98,786 ratings","17,920",The Left Hand of Darkness (Hainish Cycle #4),184

In [177]:
df['Rating'] = df['Rating'].str.replace("ratings", " ", case=False)
df.head()

,Author,Rank,Rating,Score,Title,Vote
0,Margaret Atwood,1,"4.09 avg rating — 1,102,318","30,733",The Handmaid's Tale,314
1,Suzanne Collins,2,"4.33 avg rating — 5,742,147","28,553","The Hunger Games (The Hunger Games, #1)",292
2,Mary Wollstonecraft Shelley,3,"3.78 avg rating — 1,023,439","21,909",Frankenstein,224
3,Madeleine L'Engle,4,"4.01 avg rating — 903,270","18,720","A Wrinkle in Time (Time Quintet, #1)",196
4,Ursula K. Le Guin,5,"4.06 avg rating — 98,786","17,920",The Left Hand of Darkness (Hainish Cycle #4),184

In [178]:
df["Rating"]= df["Rating"].str.replace("avg rating*.", " ", case = False)
df.head()

,Author,Rank,Rating,Score,Title,Vote
0,Margaret Atwood,1,"4.09 — 1,102,318","30,733",The Handmaid's Tale,314
1,Suzanne Collins,2,"4.33 — 5,742,147","28,553","The Hunger Games (The Hunger Games, #1)",292
2,Mary Wollstonecraft Shelley,3,"3.78 — 1,023,439","21,909",Frankenstein,224
3,Madeleine L'Engle,4,"4.01 — 903,270","18,720","A Wrinkle in Time (Time Quintet, #1)",196
4,Ursula K. Le Guin,5,"4.06 — 98,786","17,920",The Left Hand of Darkness (Hainish Cycle #4),184

In [179]:
df["Number of ratings"] = df['Rating'].str.extract(r"—(.*)", expand=True)
df.head()

,Author,Rank,Rating,Score,Title,Vote,Number of ratings
0,Margaret Atwood,1,"4.09 — 1,102,318","30,733",The Handmaid's Tale,314,"1,102,318"
1,Suzanne Collins,2,"4.33 — 5,742,147","28,553","The Hunger Games (The Hunger Games, #1)",292,"5,742,147"
2,Mary Wollstonecraft Shelley,3,"3.78 — 1,023,439","21,909",Frankenstein,224,"1,023,439"
3,Madeleine L'Engle,4,"4.01 — 903,270","18,720","A Wrinkle in Time (Time Quintet, #1)",196,"903,270"
4,Ursula K. Le Guin,5,"4.06 — 98,786","17,920",The Left Hand of Darkness (Hainish Cycle #4),184,"98,786"

In [181]:
df['Rating'] = df['Rating'].str.replace(r"— (.*)", " ", case=False)
df.head()

,Author,Rank,Rating,Score,Title,Vote,Number of ratings
0,Margaret Atwood,1,4.09,"30,733",The Handmaid's Tale,314,"1,102,318"
1,Suzanne Collins,2,4.33,"28,553","The Hunger Games (The Hunger Games, #1)",292,"5,742,147"
2,Mary Wollstonecraft Shelley,3,3.78,"21,909",Frankenstein,224,"1,023,439"
3,Madeleine L'Engle,4,4.01,"18,720","A Wrinkle in Time (Time Quintet, #1)",196,"903,270"
4,Ursula K. Le Guin,5,4.06,"17,920",The Left Hand of Darkness (Hainish Cycle #4),184,"98,786"

In [182]:
df['Series'] = df['Title'].str.extract(r"[(](.*),?#", expand=True)

df.head()

,Author,Rank,Rating,Score,Title,Vote,Number of ratings,Series
0,Margaret Atwood,1,4.09,"30,733",The Handmaid's Tale,314,"1,102,318",NaN
1,Suzanne Collins,2,4.33,"28,553","The Hunger Games (The Hunger Games, #1)",292,"5,742,147","The Hunger Games,"
2,Mary Wollstonecraft Shelley,3,3.78,"21,909",Frankenstein,224,"1,023,439",NaN
3,Madeleine L'Engle,4,4.01,"18,720","A Wrinkle in Time (Time Quintet, #1)",196,"903,270","Time Quintet,"
4,Ursula K. Le Guin,5,4.06,"17,920",The Left Hand of Darkness (Hainish Cycle #4),184,"98,786",Hainish Cycle

In [183]:
df['Series'] = df['Series'].str.replace("," ," ")

df.head()

,Author,Rank,Rating,Score,Title,Vote,Number of ratings,Series
0,Margaret Atwood,1,4.09,"30,733",The Handmaid's Tale,314,"1,102,318",NaN
1,Suzanne Collins,2,4.33,"28,553","The Hunger Games (The Hunger Games, #1)",292,"5,742,147",The Hunger Games
2,Mary Wollstonecraft Shelley,3,3.78,"21,909",Frankenstein,224,"1,023,439",NaN
3,Madeleine L'Engle,4,4.01,"18,720","A Wrinkle in Time (Time Quintet, #1)",196,"903,270",Time Quintet
4,Ursula K. Le Guin,5,4.06,"17,920",The Left Hand of Darkness (Hainish Cycle #4),184,"98,786",Hainish Cycle

In [184]:
df['Number in Series'] = df['Title'].str.extract(r"#(.*)[)]", expand=True)
df.head()

,Author,Rank,Rating,Score,Title,Vote,Number of ratings,Series,Number in Series
0,Margaret Atwood,1,4.09,"30,733",The Handmaid's Tale,314,"1,102,318",NaN,NaN
1,Suzanne Collins,2,4.33,"28,553","The Hunger Games (The Hunger Games, #1)",292,"5,742,147",The Hunger Games,1
2,Mary Wollstonecraft Shelley,3,3.78,"21,909",Frankenstein,224,"1,023,439",NaN,NaN
3,Madeleine L'Engle,4,4.01,"18,720","A Wrinkle in Time (Time Quintet, #1)",196,"903,270",Time Quintet,1
4,Ursula K. Le Guin,5,4.06,"17,920",The Left Hand of Darkness (Hainish Cycle #4),184,"98,786",Hainish Cycle,4

In [185]:
df.to_csv(r'/Users/dronejournalismlab/Desktop/FOUNDATIONS/foundations_homework/08-homework/FEMALEAUTHORS.csv')